{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
    <div>
    	{% for photo in photo_album %}
    		<img src="/{{ photo.image.url }}" alt="{{ hotel.name }} photo" />
    	{% endfor %}
	<h1>{{ hotel.name }}</h1>
	<div>{{ hotel.stars }} stars</div>
	<div>{{ hotel.location }}</div>
	<p>{{ hotel.text }}</p>
	
	<ul>
	{% for tag in hotel.tags.all %}
		<li>{{ tag }}</li>
	{% endfor %}
	</ul>
	
	<br>
	
	<a href="/hotels/reserve/{{ hotel.id }}">Make reservations!</a>
{% endblock %}
